@use "./base.scss";

// put your custom CSS here!
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@1,400&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: "Victor Mono", monospace;
  font-style: italic;
  font-weight: 400;
}
